.App{
  text-align: center;
}

.timesClassificadorFather{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.timesClassificados{
  border: solid black 2px;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  margin: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: lightgreen;

}